doctype html
html(lang="en")
    head
        title=title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        h1(class="text-center") Update
        .form-wrapper
            p Add a new game
            br
            form(method="POST")
                label(for="gameName") Game name
                input(type="text" name="gameName" required)
                label(for="releaseDate") Release date
                input(type="date" name="releaseDate" required)
                label(for="publisher") Publisher
                input(type="text" name="publisher" required)
                input(type="submit" value="Submit")
        a(href="/" style="text-align: center; display: block") Return to the homepage
